{% block header%}
<a href="#" class="logo"><span>D</span>octors <span>C</span>ares.</a>

<nav class="navbar">
    <ul>
        <li><a href="/">Trang Chủ</a></li>
        <li><a href="#about">Về Chúng Tôi</a></li>
        <li><a href="#doctor">Các Chuyên Gia</a></li>
        <li><a href="#review">Nhận Xét</a></li>
        <li><a href="#contact">Liên Hệ Chúng Tôi</a></li>
        <li><a href="#blog">Bài Viết</a></li>
        <li>
            <a class="text-danger" href="/login">Đăng Nhập</a>
        </li>
    </ul>
</nav>
<div class="fas fa-bars"></div>
{% endblock %}